#go-user-button{
    transition: 0.3s;
}

#go-user-button:hover{
    background-color: #5a565a;
}

#go-logout-button{
    transition: 0.3s;
}
#menu_dialog_container{
    background-color: #3a3b3c;  
    z-index: 100;
    position: fixed;
    right: 25px;
    top: 64px;
    width: 240px;
}
#go-logout-button:hover{
    background-color: #C51F17 !important;
}

.boxx{
    transition: transform .2s; 
}
.boxx:hover{
    transform: scale(1.1);
}

.textt:hover{
    text-decoration:underline;
}
.toast_made{
    position: absolute;
     top:30px;
     right:40px;
     width:250px;
     min-height:50px;
     max-height: fit-content !important;
     z-index: 1000000000000;
}

.name_channel{
    transition: 0.3s;
}
.name_channel:hover{
    color: #C51F17 !important;
    text-decoration: underline !important;
}
#channel_name_course{
    font-size: large !important;
}
.modal_made{
    position: absolute;
     width:500px;
     background-color: white;
     height:300px;
     top:150px;
     z-index: 100000;left: 50%;
    transform: translateX(-50%);
}

.loader{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 45%;
    right: 0;
    text-align: center;
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 100px;
    height: 100px;
    animation: spinner 4s linear infinite normal 
}
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

