<script>
  var updateChart = function(parking_id, free, occupied){
    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var chart_id="#chart_"+parking_id;
    var donutChartCanvas = $(chart_id).get(0).getContext('2d')
    var donutData = {
      labels: [
        'Free',
        'Occupied'
      ],
      datasets: [
        {
          data: [free,occupied],
          backgroundColor : ['#00a65a', '#f56954'],
        }
      ]
    }
    var donutOptions = {
      maintainAspectRatio : false,
      responsive : true,
      animation: {duration: 0},
    }
    //Create pie or douhnut chart
    //You can switch between pie and douhnut using the method below.
    var donutChart = new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })
  }
</script>
